.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-mail {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-placeholder {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-time {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
